mat-card {
    margin: 1rem auto;
    width: 80%;
    max-width: 800px;
  }
  
  mat-form-field {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin: 1rem 0;
    width: 200px;
  }
  
  mat-spinner {
    margin: 1rem auto;
  }
  
  input[type="file"] {
    visibility: hidden;
  }
  
  .image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  
  .image-preview img {
    height: 100%;
  }
  
  .image-upload {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .form-container {
    width: 100%;
    padding: 1rem;
  }