<mat-card class="post-form">
  <mat-spinner *ngIf="Loading"></mat-spinner>  

  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!Loading" class="form-container">    
      <mat-form-field class="full-width">
          <input 
            matInput 
            type="text" 
            formControlName="title"
            placeholder="Enter Title Here">
          <mat-error *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
            Title is required and must be at least 3 characters.
          </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
          <textarea 
            rows="6" 
            matInput 
            formControlName="content"
            placeholder="Post Content">
          </textarea>
          <mat-error *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
            Content is required and must be at least 3 characters.
          </mat-error>
      </mat-form-field>

      <div class="image-upload">
          <button 
            mat-stroked-button 
            type="button" 
            (click)="filePicker.click()">
            Pick Image
          </button>
          <input 
            type="file" 
            #filePicker 
            (change)="onImagePicked($event)"
            accept="image/*">
          <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && form.get('image')?.valid">
            <img [src]="imagePreview" alt="Form image preview">
          </div>
      </div>

      <button 
        mat-raised-button 
        color="primary" 
        type="submit" 
        [disabled]="form.invalid">
        Save Post
      </button>
  </form>
</mat-card>